@font-face {
    font-family: 'Noto Sans HK', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@500&display=swap');
  }


body {
    background-color: black;
    font-family: 'Noto Sans HK', sans-serif;
}

.flip {
    display: inline-block;
    transform: scale(-1, 1);
    color: white;
}

#lyrics {
    color: white;



    font-size: 25vw;
    text-align: center;



    position: absolute;
    top: 50%;

    -ms-transform: translateY(-50%);
    transform: translateY(-50%);


    width: max-content;
}